
$z-slot-bg: #ffffff !default;
$z-slot-text: #242424 !default;
$z-slot-subBg: #ededed !default;
$z-slot-subText: #8b8b8b !default;
$z-slot-actionPrimary: #0a7bc6 !default;
$z-slot-accentText: #e4176f !default;
$z-slot-divider: #e1e1e1 !default;
$z-slot-stateOkay: #20883f !default;
$z-slot-stateError: #d1403e !default;
$z-slot-textHighlight: #bc5b1b !default;
