$_z-slots: () !default;
$_z-slots: map-merge(
  (
    bg: $z-slot-bg,
    text: $z-slot-text,
    subBg: $z-slot-subBg,
    subText: $z-slot-subText,
    actionPrimary: $z-slot-actionPrimary,
    accentText: $z-slot-accentText,
    divider: $z-slot-divider,
    stateOkay: $z-slot-stateOkay,
    stateError: $z-slot-stateError,
    textHighlight: $z-slot-textHighlight
  ), 
$_z-slots);

@import "../_functions";
@import "../_mixins/";
@import "../_placeholders/";
